#loading-page {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .loader {
        width: 48px;
        height: 48px;
        border: 3px solid #000000;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
      }
      .loader::after {
        content: '';  
        box-sizing: border-box;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 3px solid;
        border-color: #008cff transparent;
      }
      
      @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
    } 
}

#navigator {
    height: 100vh;

    display: flex;
    flex-direction: row;

    .tab {
        width: 100%;
        height: 100%;

        overflow: hidden;

        display: flex;
        flex-direction: column;
    }
}

.index-nav {
    padding: 0.5rem 5rem;
    height: 60px;
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    section {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        select {
            padding: 0.5rem 1rem;

            background-color: #fff;
        }
    }

    h2 {
        font-size: 1.2rem;
    }

    #outline-btn {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;

        div {
            width: 20px;
            height: 20px;

            border-color: #000;
            border-width: 1px;
            border-radius: 3px;
        }
    }

    #outline-dialog {
        position: fixed;
        top: 4rem;
        left: 23rem;

        padding: 0.5rem 1rem;
        border-radius: 5px;

        section {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            button {
                width: 20px;
                height: 20px;

                border-radius: 3px;

                &#color-none {
                    background-color: #fff;
                    border-color: #000;
                    border-width: 1px;
                }

                &#color-1 {
                    background-color: #ff0000;
                }

                &#color-2 {
                    background-color: #efff60;
                }

                &#color-3 {
                    background-color: #acff25;
                }

                &#color-4 {
                    background-color: #2f82ff;
                }

                &#color-5 {
                    background-color: #a52ff3;
                }
            }
        }
    }
}

.bible-content {
    // margin: 1rem 0rem;
    margin-left: 4.5rem;

    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    // height: calc(100vh - 60px - 2rem);
    height: 100%;

    .verse {
        display: flex;
        flex-direction: row;

        width: 100%;
        padding: 0.5rem 0;

        &.color {
            background-color: #fafafa;
        }

        &:hover {
            background-color: #ffedcc;
        }
        
        .verse-number {
            width: 3rem;
            text-align: right;
            padding-right: 1rem;
        }

        .verse-content {
            text-align: left;
            width: 50%;

            &.selected {
                color: #ff7e67;
            }
        }

        .note {
            text-align: left;
            text-overflow: ellipsis;
            width: 40%;
            padding-left: 1.5rem;

            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .tag {
            background-color: #008cff;
            margin: 0 0.2rem;
            padding: 0.2rem 0.5rem;
            border-radius: 10rem;

            font-size: small;
            color: #fff;

        }
    }
}

.study-explorer {
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 12px;

    padding: 20px;
}

.study-editor {
    height: 100%;
    .ql-container.ql-snow {
        border-bottom: none;
    }

    .ql-container {
        height: calc(100% - 45px);
    }
}

.study-card {
    width: 13em;
    height: 18em;

    padding: 15px;

    display: flex;
    flex-direction: column;

    // overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.19);

    h3 {
        font-size: 1.2em;
        font-weight: 500;
        margin-bottom: 0.5em;
    }

    p {
        font-size: 0.9em;
        margin-bottom: 0.5em;

        // text elipsis
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
