main {
    height: 100vh;

    display: flex;
    flex-direction: column;
}

#index-nav {
    padding: 0.5rem 5rem;
    height: 60px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    section {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        select {
            padding: 0.5rem 1rem;

            background-color: #fff;
        }
    }

    #outline-btn {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;

        div {
            width: 20px;
            height: 20px;

            border-color: #000;
            border-width: 1px;
            border-radius: 3px;
        }
    }

    #outline-dialog {
        position: fixed;
        top: 4rem;
        left: 23rem;

        padding: 0.5rem 1rem;
        border-radius: 5px;

        section {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            button {
                width: 20px;
                height: 20px;

                border-radius: 3px;

                &#color-none {
                    background-color: #fff;
                    border-color: #000;
                    border-width: 1px;
                }

                &#color-1 {
                    background-color: #ff0000;
                }

                &#color-2 {
                    background-color: #efff60;
                }

                &#color-3 {
                    background-color: #acff25;
                }

                &#color-4 {
                    background-color: #2f82ff;
                }

                &#color-5 {
                    background-color: #a52ff3;
                }
            }
        }
    }
}

#content {
    margin: 1rem 5rem;

    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    height: calc(100vh - 60px - 2rem);

    .verse {
        display: flex;
        flex-direction: row;

        width: 100%;
        padding: 0.5rem 0;

        &.color {
            background-color: #fafafa;
        }

        &:hover {
            background-color: #ffedcc;
        }
        
        .verse-number {
            width: 3rem;
            text-align: right;
            padding-right: 1rem;
        }

        .verse-content {
            text-align: left;
            width: 50%;

            &.selected {
                color: #ff7e67;
            }
        }

        .note {
            text-align: left;
            width: 40%;
            padding-left: 1.5rem;
        }
    }

    // p {
    //     user-select: none;

    //     span {
    //         &:hover {
    //             text-decoration: underline;
    //             cursor: pointer;
    //         }

    //         &.selected {
    //             color: #007bff;
    //         }
    //     }

    //     &.line-break {
    //         display: flex;
    //         flex-direction: column;
    //     }
    // }
}
