@font-face {
    font-display: swap;
    font-family: 'Pulp-Display';
    src: url('/fonts/UpType - Pulp Display Extra Light.otf') format('opentype');
    font-weight: 200;
}

@font-face {
    font-display: swap;
    font-family: 'Pulp-Display';
    src: url('/fonts/UpType - Pulp Display Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-display: swap;
    font-family: 'Pulp-Display';
    src: url('/fonts/UpType - Pulp Display Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-family: 'Pulp-Display';
    src: url('/fonts/UpType - Pulp Display Medium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-display: swap;
    font-family: 'Pulp-Display';
    src: url('/fonts/UpType - Pulp Display Semi Bold.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-display: swap;
    font-family: 'Pulp-Display';
    src: url('/fonts/UpType - Pulp Display Bold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-display: swap;
    font-family: 'Pulp-Display';
    src: url('/fonts/UpType - Pulp Display Extra Bold.otf') format('opentype');
    font-weight: 800;
}

@media print {
    @page {
        margin: 2cm 3cm;
        margin-bottom: 3cm;
    }

    h1 {
        break-before: always;
        page-break-before: always;
    }

    .references-divider {
        break-before: always;
        page-break-before: always;
    }
}

body {
    overflow: hidden;
}